.line1 {
	width: 90%;
	border: none;
	border-top: 1px solid #000;
    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
}

.line2 {
	width: 90%;
	border: none;
	border-top: 1px solid #000;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}