.header {
	background-color: #fffff0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-bottom: 0.5px solid #000000;
	padding: 2.5rem 0 2.5rem 0;
	height: 5%;
	> .strelka {
		left: 2rem;
		position: absolute;
		cursor: pointer;
	}
	> .title {
		font-size: 2rem;
		font-weight: 700;
	}
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	backdrop-filter: blur(2px);
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	width: 33vw;
	height: 100%;
	background-color: #ffffff;
	z-index: 1000;
}
.button {
	width: 75%;
	height: 5rem;
	background-color: #ffedc6;
	padding: 1rem;
	font-size: 170%;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 1rem;
	text-align: center;
	border: none;
	bottom: 10%;
	position: absolute;
	text-transform: uppercase;
}
