.login {
	> .registration {
		position: absolute;
		bottom: 2rem;
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		opacity: 70%;
		display: flex;
		justify-content: center;
		> p > .link {
			color: #000000;
			text-decoration: underline;
			opacity: 100%;
			cursor: pointer;
			color: #892020;
		}
	}
	> .line {
		position: absolute;
		bottom: 4rem;
		text-align: center;
		width: 90%;
		height: 0.5px;
		margin: 0 1rem 0 1rem;
	}
	> .form {
		margin-top: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem 0 2rem 0;
		opacity: 70%;
		> .input {
			width: 80%;
			height: 3rem;
			font-size: 1.5rem;
			margin: 0rem 0 1rem 0;
			border: 1px solid #000000;
			text-indent: 10px;
		}
		> .forgotPassword {
			font-size: 1.5rem;
			opacity: 70%;
			margin: 1% 0 1rem 9.5%;
			cursor: pointer;
			align-self: start;
		}
	}
}
.button {
	background-color: #ffedc6;
	padding: 3% 27%;
	font-size: 27px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
	border: none;
	bottom: 25%;
	position: absolute;
}