.cardTitle{
    font-size: 2rem;
    font-weight: lighter;
    opacity: 50%;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -10%;
    gap: 1%;
    padding: 12%;
  }
  